<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pizzeria</h1>

<table th:if="${pizzas.size() > 0}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzas}">
        <td th:text="${pizza.id}"></td>
        <td th:text="${pizza.description}"></td>
        <td th:text="${pizza.price}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${pizzas.size() < 1}">
    <h2>Spiacenti non ci sono pizze disponibili al momento.</h2>
</div>
</body>
</html>