<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/fragments :: head}"></th:block>
    <title>La mia pizzeria</title>
</head>
<body>
<th:block th:replace="~{fragments/fragments :: navbar}"></th:block>
<h1 class="mt-5 text-center">Pizzeria</h1>

<div class="w-50 mx-auto">
    <table class="table" th:if="${pizzas.size() > 0}">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzas}">
            <td th:text="${pizza.id}"></td>
            <td th:text="${pizza.description}"></td>
            <td th:text="${pizza.price}"></td>
            <td>
                <a th:href="@{|/pizza/${pizza.id}|}">
                    <i class="fa-solid fa-pizza-slice"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${pizzas.size() < 1}">
    <h2>Spiacenti non ci sono pizze disponibili al momento.</h2>
</div>
</body>
</html>